/README.md~

*/active
*/set_env.sh

/go/source
/go/go_*

/nim/source
/nim/nim_*

/rust/rust
/rust/rust-*
/rust/cargo
/rust/cargo-*

/terra/terra-*
/terra/source

/zig/zig-*
/zig/source

/d/d_*
/d/bin
/d/dmd
/d/druntime
/d/dub
/d/phobos
/d/tools
/d/deployD.o
/d/deployD
/d/deployD.exe
